<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TLE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      
        <a href="/" class="navbar-brand" ><img class="logo-img" src="/images/logo-2.png" width="150" height="80"></a>

        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="problem"><a href="/problem">PROBLEM STATEMENT</a></li>
          <li id="ppt"><a href="/ppt">PRESENTATION</a></li>
          <li id="ideas"><a href="/ideas">IDEAS</a></li>
          <li id="signin"><a href="/signin">SIGNIN/SIGNUP</a></li>
        </ul>
        
    </div>
  </nav> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong"> -->
    <!-- Container wrapper -->
    <!-- <div class="container-fluid"> -->
      <!-- Navbar brand -->
      <!-- <a class="navbar-brand" href="#"><img class="logo-img" src="/images/logo-2.png" width="150" height="80"></a> -->
  
      <!-- Toggle button -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      > -->
        <!-- <i class="fas fa-bars"></i>
      </button> -->
  
      <!-- Collapsible wrapper -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <!-- Left links -->
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/problem">PROBLEM STATEMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ppt">PRESENTATION</a>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link active" aria-current="page" href="/ideas">IDEAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signin">SIGNIN/SIGNUP</a>
          </li>
        </ul> -->
        <!-- Left links -->
      <!-- </div> -->
      <!-- Collapsible wrapper -->
    <!-- </div> -->
    <!-- Container wrapper -->
  <!-- </nav> -->
  <!-- Navbar -->
</head>
  <body>
    <div class="container">
