<div class="box-1 ">
    <h3>We Technical Logistic Elaborators present's</h3>
    <h1 style="font-size: 60px; margin: 0%;">Alternative Authentication Protocol (AAP)</h1>
    <h3 style="padding-bottom: 20px;">Which helps us to use OTP in low connectivity areas</h3>
    <button type="button" class="btn btn-info">SIGNIN/SIGNUP</button>
</div>