
<div class="box-4">
        
  <section class="intro">
    <div class="feed">            
      <div class="feed_form ">
        <h2>SIGN IN</h2>
          <form name="google-sheet" method="post">
              <input type="text" name="Username" placeholder="Username"><br>
              <input type="email" name="Email" placeholder="Email ID"><br>
              <input type="text" name="password" placeholder="Password"><br>
              <input type="password" name="password" placeholder="Confirm Password"><br>
              <button type="Submit">Sign In</button><br>
              <p style="color: white;">Not a user ? <a href="/login">SIGN UP</a></p>
          </form>
      </div>
  </div>
  </section>
</div>