<div class="row">
    <div class="col"><h1>Smart India Hacathon</h1>

        <p>Smart India Hackathon is a nationwide initiative to provide students with a platform to solve some<br>
             of the pressing problems we face in our daily lives, and thus inculcate a culture of product innovation <br>
             and a mindset of problem-solving. </p>
        
        <h2>Category : Software</h2>
        <h1>Our Problem Statement <a href="https://www.sih.gov.in/sih2022PS">(NR1162)</a></h1>
        
        <h3>Defence Research and Development Organisation (DRDO), Ministry of Defence.</h3>     
        
        <h2>Device an alternatives method for OTP based authentication in areas with weak mobile signal.</h2>
        
        <p>Now a days, OTP based authentication/ verification has been implemented in various websites requiring Aadhar based <br>
            authentication, GeM etc . However, such verification requiring cellular mobile based OTP becomes challenging in remote locations where cellular <br>
            signals are very weak or poor. Solutions or alternative verification/authentication <br>
            technologies need to be devised.
        </p>
    </div>

    <div class="col">
        <img src="/images/SIH-logo.jpeg" style="float: right;
        width: 600px;
        height: 350px;
        position: relative;"/>
    </div>

</div>
